<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.github.ymegane.android.myfirstinstantapp.feature">

    <application>
        <activity android:name=".MainActivity">
            <intent-filter android:order="1">
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.BROWSABLE"/>
                <category android:name="android.intent.category.DEFAULT"/>

                <data android:scheme="http" />
                <data android:scheme="https" />
                <data android:pathPattern="/hello" />
                <data android:host="android.ymegane.github.com" />
            </intent-filter>
        </activity>
    </application>

</manifest>